body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toolbar {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #3a3a3a;
  color: white;
  font-weight: 600;
}

.toolbar span {
  padding-left: 1rem;
}

.dashboard-container {
  width: 100%;
  position: relative;
}

.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px 16px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.footer {
  height: 60px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3a3a3a;
  color: white;
  font-weight: 600;
}
